body {
  color: rgb(65,75,86);
  font-family: georgia;
  margin: 0px;
  background-image: url("Background book.jpg");
  background-color: #cccccc;
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
}
.Netflix {
  padding: 3rem 1.5rem;
  text-align: center;
}
div.end {
  position: absolute;
  bottom: 0;
  min-height: 10vh;
  text-align: left;
}
ul: hover {
  font-size: 1.2em;
  transition: 0.6s ease;
}
