body {
  color: rgb(255,255,255);
  font-family: Times;
  margin: 0px;
  background-color: rgb(0,0,0);
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
  font-size: 100%;
}

.jumbotron {
  padding-top: 2rem;
  padding-bottom: 0rem;
  text-align: center;
  background-color: rgb(0,0,0);
}
}
.Netflix {
  padding: 1rem 1.0rem;
  text-align: center;
}
div.end {
  position: absolute;
  bottom: 0;
  text-align: left;
}
.carousel-one {
  background: rgba(0, 0, 0, 0.4);
}
ul: hover {
  font-size: 1.2em;
  transition: 0.6s ease
}
.navbar-default {
  background-color: rgb(211,211,211);
}
.row {
  padding: 1.0rem 0rem
}
.pic {
  height: 100%;
  min-height: 100px;
  max-height: 300px;
  width: auto;
  padding: 1.0rem 0rem;
  padding-top: 0rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }


/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: auto;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/***** Star Rating 2 *****/
.rating2 {
  border: none;
  float: left;
}

.rating2 > input { display: none; }
.rating2 > label:before {
  margin: 5px;
  font-size: auto;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating2 > .half:before {
  content: "\f089";
  position: absolute;
}

.rating2 > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating2 > input:checked ~ label, /* show gold star when clicked */
.rating2:not(:checked) > label:hover, /* hover current star */
.rating2:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating2 > input:checked + label:hover, /* hover current star when changing rating */
.rating2 > input:checked ~ label:hover,
.rating2 > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating2 > input:checked ~ label:hover ~ label { color: #FFED85;  }
