body {
  color: rgb(255,255,255);
  font-family: georgia;
  margin: 0px;
  background-color: rgb(0,0,0);
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
}
.Netflix {
  padding: 1rem 1.0rem;
  text-align: center;
}
div.end {
  position: absolute;
  bottom: 0;
  min-height: 10vh;
  text-align: left;
}
.carousel-one {
  background: rgba(0, 0, 0, 0.4);

}
ul: hover {
  font-size: 1.2em;
  transition: 0.6s ease
}
.navbar-default {
  background-color: rgb(211,211,211);
}
