body {
  color: rgb(255,255,255);
  font-family: Times;
  margin: 0px;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  padding-top: 3rem;
}
.jumbotron {
  padding-top: 2rem;
  padding-bottom: 0rem;
  text-align: center;
  background-color: rgb(0,0,0);
}
}
.Netflix {
  padding: 1rem 1.0rem;
  text-align: center;
}
div.end {
  position: absolute;
  bottom: 0;
  text-align: left;
}
.carousel-one {
  background: rgba(0, 0, 0, 0.4);
  padding: 0rem 0rem;

}
h1 {
  padding-top: 2rem;
}
ul: hover {
  font-size: 1.2em;
  transition: 0.6s ease
}
.navbar-default {
  background-color: rgb(211,211,211);
}
.container {
  padding: 1.0rem 0rem;
}
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  text-align: center;
}
h4 {
  font-size: auto;
}
.pic {
  width: auto;
  min-height: 50px;
  max-height: 300px;
  padding: 2.0rem 0rem;
  padding-top: 0rem;
}
.caption {
  padding-top: 0rem
}
.checked {
  color: orange;
}
.fa {
  padding: 0rem 0rem;
}
